<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1> Thanks for Submitting a Review </h1>
    <p>
      Your review has been deemed inappropriate, and thus cannot be
      published. Please contact Career Services for more details
    </p>
    <p>
      Thanks,
        Career Services
    </p>
  </body>
</html>

