/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


* {
  font-family: Garamond, serif;
}


body {

  background-color: #58595b;
  padding: 0px;
  margin: 0px;
}

textarea {
  width: 100%;
  font-size: 14px;
  height: 70px;
  font-family: 'Helvetica neue', helvetica, sans-serif;
}

input[type='text'] {
    font-family: 'Helvetica neue', helvetica, sans-serif;
}

.container {
  padding: 10px;
  position: absolute;
  top: 80px;
  left: 50%;
  width: 940px;
  margin-left: -460px;
  background-color: #e8e8e8;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

h1 {
  font-family: Garamond;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: #365777;
}

.header {
  position: fixed;
  left: 0px;
  top: 0px;
  height: 80px;
  width: 100%;
  background-color: #862633;
}

.logo {
  position: absolute;
  left: 50%;
  margin-left: -125px;
  top: 1px;
}

.footer {
  text-align: center;
  font-style: italic;
}

.button {
  background-color: #e39615;
  border-radius:6px;
  display:inline-block;
  color:#e8e8e8;
  font-family:'Helvetica Neue';
  font-weight: bold;
  padding: 15px;
  font-size: 15px;
  border: none;
}

.login_button {
  position: absolute;
  right: 10px;
  top: 15px;
}