= link_to root_path do
  .header
    .logo= image_tag 'logo.png', width: 250
    - if defined? @user_id
      = button_to 'LOGOUT', '/logout', class:'button log_button', :method => :get
    - else
      = button_to 'LOGIN', '/auth/google_login', class:'button log_button', :method => :get
